{#-
Jinja macros file providing helper functions for SUSE HA related Salt state files
Copyright (C) 2023 SUSE LLC <georg.pfuetzenreuter@suse.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}

{%- from slspath ~ '/map.jinja' import resources_dir -%}
{%- macro primitive_resource(resource, class, type, instance_attributes, operations, meta_attributes, provider='NONE') %}
ha_resource_file_{{ resource }}:
  file.managed:
    - name: {{ resources_dir }}/{{ resource }}.xml
    - source: salt://{{ slspath }}/files/primitive.xml.j2
    - template: jinja
    - context:
        resource_id: {{ resource }}
        resource_class: {{ class }}
        resource_type: {{ type }}
        attributes: {{ instance_attributes }}
        operations: {{ operations }}
        meta_attributes: {{ meta_attributes }}
        provider: {{ provider }}
    - require:
      - file: ha_resources_directory

ha_resource_update_{{ resource }}:
  cmd.run:
    - name: crm configure load xml update {{ resources_dir }}/{{ resource }}.xml
    - onchanges:
        - ha_resource_file_{{ resource }}
{#- to-do: somehow require this but allow for individual run of suse_ha.resources ?
    - require:
        - pacemaker.service
#}
{%- endmacro %}


