{%- from 'multipath/macros.jinja' import device -%}
{%- from 'multipath/map.jinja' import config -%}
{{ pillar.get('managed_by_salt_formula', '# Managed by the multipath formula') }}

{%- for section in config.keys() %}
{%- if config[section] %}
{{ section }} {
{%- if section == 'defaults' or section == 'blacklist' %}
  {%- for option, value in config[section].items() %}
  {%- if option == 'devices' %}
  {%- for subsection in value %}
  {{ device(subsection) }}
  {%- endfor %}
  {%- else %}
  {{ option }} {{ value }}
  {%- endif %}
  {%- endfor %}
{%- elif section == 'devices' %}
  {%- for subsection in config[section] %}
  {{ device(subsection) }}
  {%- endfor %}
{%- endif %}
}
{%- endif %}
{%- endfor %}
