{%- set source = 'suse_ha/files/cib/' -%}
{%- include source ~ 'header_resource.xml.j2' -%}
{%- for clone, config in clones.items() %}
{%- set resource_id = clone %}
      <clone id="{{ resource_id }}">
{%- include source ~ 'meta_attributes.xml.j2' %}
{%- include source ~ 'primitive.xml.j2' %}
      </clone>
{% endfor %}
{%- include source ~ 'footer_resource.xml.j2' -%}
