{%- set source = 'suse_ha/files/cib/' -%}
{%- if ctype in ['rsc_colocation', 'rsc_order'] and ( ckind or ( cscore and crscs ) or csets ) -%}
  {%- set typetemplate = source ~ ctype.replace('rsc_', '') ~ '.xml.j2' -%}
{%- include source ~ 'header.xml.j2' %}
    <constraints>
{%- include typetemplate %}
    </constraints>
{% include source ~ 'footer.xml.j2' %}
{%- else -%}
  {%- do salt.log.error('suse_ha: unsupported constraint') -%}
{%- endif -%}

