{%- for primitive, config in primitives.items() %}
{%- set resource_id = primitive %}
      <primitive id="{{ resource_id }}" class="{{ config['resource_class'] }}" type="{{ config['resource_type'] }}" {%- if config['provider'] != 'NONE' %} provider="{{ config['provider'] }}" {%- endif -%}>
        {%- if config['attributes'] | length > 0 %}
        <instance_attributes id="{{ resource_id }}-instance_attributes">
          {%- for nvpair, value in config['attributes'].items() %}
          <nvpair name="{{ nvpair }}" value="{{ value }}" id="{{ resource_id }}-instance_attributes-{{ nvpair }}"/>
          {%- endfor %}
        </instance_attributes>
        {%- endif %}
        {%- if config['operations'] | length > 0 %}
        <operations>
          {%- for op, opconfig in config['operations'].items() %}
          {%- set interval = opconfig.pop('interval') %}
          <op name="{{ op }}" timeout="{{ opconfig.pop('timeout') }}" interval="{{ interval }}"{% for property, value in opconfig.items() %}{{ ' ' ~ property ~ '="' ~ value ~ '"' }}{% endfor %} id="{{ resource_id }}-{{ op }}-{{ interval }}"/>
          {%- endfor %}
        </operations>
        {%- endif %}
{%- include source ~ 'meta_attributes.xml.j2' %}
      </primitive>
{%- endfor %}
