#!/bin/sh
# Script to call a Salt event
# Copyright (C) 2017-2023 openSUSE contributors
# Original author: Theo Chatzimichos <tampakrap@opensuse.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

{%- set deploy_password = salt['pillar.get']('infrastructure:salt:reactor:update_fileserver_deploy_password', '') %}
salt-call event.fire_master {{ deploy_password }} salt/fileserver/gitfs/update
