{#-
Jinja variables file for the Network Salt states
Copyright (C) 2023 Georg Pfuetzenreuter <mail+opensuse@georg-pfuetzenreuter.net>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}

{%- set network = salt.pillar.get('network', {}) -%}
{%- set backend = network.get('backend', 'wicked') -%}
{%- set config = network.get('config', {}) %}
{%- set routes = network.get('routes', {}) -%}
{%- set interfaces = network.get('interfaces', {}) -%}
{%- set control = network.get('control', {}) -%}
{%- set do_apply = control.get('apply', True) -%}

{%- set legal_backends = ['wicked'] -%}
