{%- from 'nftables/map.jinja' import dir, nft, nft_chains, nft_variables, nft_sets, nft_vmaps -%}
{{ pillar.get('managed_by_salt_formula', '# Managed by the nftables formula') }}

{#- Write simple variables -#}
{{ nft_variables(config.get('variables', {})) }}

{#- Write sets -#}
{{ nft_sets(config.get('sets', {})) }}

{#- Write data which only makes sense in a passive context -#}
{%- if config.get('mode', 'active') == 'passive' %}
{%- if 'chains' in config %}
{{ nft_chains(config['chains']) }}
{%- endif %}
{%- if 'vmaps' in config %}
{{ nft_vmaps(config['vmaps']) }}
{%- endif %}
{%- endif %}

{#- Write tables -#}
{%- for table, table_config in config.get('tables', {}).items() %}
table {{ table }} {{ table_config['type'] }} {
  {%- if 'include' in table_config %}
  {%- if table_config['include'] in nft and nft[table_config['include']].get('mode') == 'passive' %}
  {%- set lowinclude = dir ~ '/passive/' ~ table_config['include'] ~ '.conf' -%}
  {%- else %}
  {%- set lowinclude = table_config['include'] -%}
  {%- endif %}
  include "{{ lowinclude }}"
  {%- endif -%}
  {{ nft_chains(table_config.get('chains', {})) | indent(2) }}
}
{%- endfor %}
