{%- set managed_by_salt = salt['pillar.get']('managed_by_salt_xml') -%}
<?xml version="1.0" ?>
{{ managed_by_salt }}
<cib>
  <configuration>
    <resources>
      <primitive id="{{ resource_id }}" class="{{ resource_class }}" type="{{ resource_type }}" {%- if provider != 'NONE' %} provider="{{ provider }}" {%- endif -%}>
        {%- if attributes | length > 0 %}
        <instance_attributes id="{{ resource_id }}-instance_attributes">
          {%- for nvpair, value in attributes.items() %}
          <nvpair name="{{ nvpair }}" value="{{ value }}" id="{{ resource_id }}-instance_attributes-{{ nvpair }}"/>
          {%- endfor %}
        </instance_attributes>
        {%- endif %}
        {%- if operations | length > 0 %}
        <operations>
          {%- for op, config in operations.items() %}
          <op name="{{ op }}" timeout="{{ config ['timeout'] }}" interval="{{ config ['interval'] }}" id="{{ resource_id }}-{{ op }}-{{ config ['interval'] }}"/>
          {%- endfor %}
        </operations>
        {%- endif %}
        {%- if meta_attributes | length > 0 %}
        <meta_attributes id="{{ resource_id }}-meta_attributes">
          {%- for nvpair, value in meta_attributes.items() %}
          <nvpair name="{{ nvpair }}" value="{{ value }}" id="{{ resource_id }}-meta_attributes-{{ nvpair }}"/>
          {%- endfor %}
        </meta_attributes>
        {%- endif %}
      </primitive>
    </resources>
  </configuration>
</cib>
