{#-
Jinja macros file for the Bootloader Salt states
Copyright (C) 2023 Georg Pfuetzenreuter <mail+opensuse@georg-pfuetzenreuter.net>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}

{%- set boolmap = {'default': {true: 'true', false: 'false'}, 'sysconfig': {true: 'yes', false: 'no'}} %}

{%- macro kvconfig(name, type, config) -%}
{%- if type == 'sysconfig' %}
{%- set file = '/etc/sysconfig/' ~ name %}
{{ name }}_sysconfig:
{%- elif type == 'default' %}
{%- set file = '/etc/default/' ~ name %}
{{ name }}_default:
{%- else %}
{%- do salt.log.error('bootloader: kvconfig() called with illegal type. this will fail.') %}
{%- endif %}
  file.keyvalue:
    - name: {{ file }}
    - key_values:
      {%- for k, v in config.items() %}
        {%- if v is sameas True or v is sameas False %}
        {%- set value = boolmap[type][v] %}
        {%- else %}
        {%- set value = v %}
        {%- endif %}
        {{ k | upper }}: '"{{ value }}"'
      {%- endfor %}
    - ignore_if_missing: {{ opts['test'] }}
    - append_if_not_found: True
{%- endmacro -%}
