# this optional libvirt pillar support arbitrary configuration options in the "libvirt", "libvirtd" and "qemu" sections
# the following examples reflect the formula defaults which can be extended or overwritten if needed
libvirt:
  # everything under "libvirt" will be set in libvirt.conf
  libvirt:
    uri_default: "qemu:///system"

  # everything under "libvirtd" will be set in libvirtd.conf
  libvirtd:
    max_clients: 128

  # everything under "qemu" will be set in qemu.conf
  qemu:
    security_driver: apparmor
    security_default_confined: 1
    security_require_confined: 1
    lock_manager: lockd
    set_process_name: 1

  # this defines which systemd sockets to enable (true) or disable (false)
  # undefined sockets will not be changed (except tcp)
  sockets:
    # libvirtd-tcp.socket
    tcp: true
    # admin -> libvirtd-admin.socket, ro -> libvirtd-ro.socket
    # libvirtd -> libvirtd.socket (will not get 'libvirtd-' prepended, unlike the other examples)

  # contrary the examples above, the following does not reflect the formula defaults.
  # everything under "guests" will be set in /etc/sysconfig/libvirt-guests - except for "enable", which defines whether the service should be enabled.
  guests:
    # "enable" is true by default - set to "false" if libvirt-guests should be disabled
    enable: true
    on_boot: ignore
    on_shutdown: shutdown
    parallel_shutdown: 2
    start_delay: 5
