nftables:
  config:
    variables:
      priority: 01
      variables:
        vpn_ranges:
          - 192.168.0.0/24
          - 192.168.1.0/24
        myhost: 192.168.0.1/32
    tables:
      priority: 02
      tables:
        inet:
          type: filter
          chains:
            input:
              policy: drop
              rules:
                - iif external jump input_external
                - ct state established, related accept
                - ct state invalid accept
