network:
  # by default the configuration happens through wicked
  # alternative choice is "NetworkManager"
  backend: wicked
  control:
    # by default, changes will be applied after configuration files have been written
    # this can be set to False if it's desired for no reload operations to be performed
    apply: True

    # by default, interface configuration files not configured through the pillar will be removed from /etc/sysconfig/network
    # _if_ a network:interfaces pillar is defined
    # this can be explicitly set to False if unmanaged configuration should be preserved regardless of there being an interfaces pillar
    # or explicitly set to True if unmanaged configuration should be wiped regardless of there _not_ being an interfaces pillar
    clean: True

  # settings written into /etc/sysconfig/network/config
  config:
    # keys/values are written as-is, but keys are uppercased and booleans values are converted automatically.
    netconfig_dns_forwarder: resolver
    # values provided in a list will be joined together.
    netconfig_dns_static_servers:
      - 192.168.120.1
      - 192.168.120.2
    netconfig_dns_resolver_options:
      - attempts:1
      - timeout:1
  # each listed interface will generate an ifcfg- file (wicked backend) or a .nmconnection file (NetworkManager backend)
  interfaces:
    eth0:
      ## Variant 1: ifcfg-style configuration
      ##  - with the wicked backend, many of these will be written as is
      ##  - with the NetworkManager backend, all keys and values will be translated if possible, and otherwise skippeed

      # STARTMODE is "auto" by default, causing the interface to be started. if set to "off", it will be stopped.
      # other startmodes will not trigger any action by Salt.
      startmode: auto
      # BOOTPROTO is "static" by default, unless the interfaces is enslaved in a bridge interface, then "none" is.
      bootproto: static
      # string with a single address or list with multiple addresses for generation of IPADDR fields.
      # CIDR notiation for subnet masks is recommended - the IPADDR count number is generated and may not be deterministic, making it difficult to map them to NETMASK fields.
      addresses:
        - 192.168.120.110/24
      # any other keys are written without special treatment. only string and integer values are supported. see ifcfg(5) for options. case is irrelevant.
      mtu: 9000
      # boolean values are converted automatically
      firewall: false
    dummy0:
      addresses:
        - 192.168.101.1/24
        - fe80::1/64
    mlx0:
      ethtool_options: -K foo rxvlan off

    ## Variant 2: NM-style configuration
    ##   - with the wicked backend, this will lead to failure and possibly undefined behavior
    ##   - with the NetworkManager backend, all sections, keys and values will be written as is, except for special keys "addresses" and "routes", which will be expanded for convenience

    nm0:
      connection:
        type: ethernet
      ipv4:
        addresses: 
          - 10.128.4.129/27
        # method will default to "manual" if addresses are specified, or to "disabled" otherwise
        method: manual
      ipv6:
        addresses:
          - 2001:db8:1::10/64

  # each listed route will be written into /etc/sysconfig/network/routes and applied
  # "default4" and "default6" will be written as "default"
  routes:
    default4:
      gateway: 192.168.120.1
    default6:
      gateway: fe80::1
      interface: eth0
    10.0.10.1/32:
      gateway: 192.168.120.2
      options:
        - blackhole

  systemd:
    # remove files not configured in this pillar from /etc/systemd/network/ (defaults to true)
    clean: true
    # manage systemd.link(5) configuration files
    # (this is currently the only supported systemd network configuration type)
    link:
      # will manage a file /etc/systemd/network/10-salt-eth0.link
      eth0:
        # all sections ...
        Match:
        # ... and all options ...
          MACAddress: 00:11:22:AA:66:DD
          Type: ether
        # ... will be written to the ini file 1:1
        Link:
          Name: eth0
