network:
  # settings written into /etc/sysconfig/network/config
  config:
    # keys/values are written as-is, but keys are uppercased and booleans values are converted automatically.
    netconfig_dns_forwarder: resolver
    # values provided in a list will be joined together.
    netconfig_dns_static_servers:
      - 192.168.120.1
      - 192.168.120.2
    netconfig_dns_resolver_options:
      - attempts:1
      - timeout:1
  # each listed interface will generate an ifcfg- file
  interfaces:
    eth0:
      # STARTMODE is "auto" by default, causing the interface to be started. if set to "off", it will be stopped.
      # other startmodes will not trigger any action by Salt.
      startmode: auto
      # BOOTPROTO is "static" by default, unless the interfaces is enslaved in a bridge interface, then "none" is.
      bootproto: static
      # string with a single address or list with multiple addresses for generation of IPADDR fields.
      # CIDR notiation for subnet masks is recommended - the IPADDR count number is generated and may not be deterministic, making it difficult to map them to NETMASK fields.
      addresses:
        - 192.168.120.110/24
      # any other keys are written without special treatment. only string and integer values are supported. see ifcfg(5) for options. case is irrelevant.
      mtu: 9000
      # boolean values are converted automatically
      firewall: false
    dummy0:
      addresses:
        - 192.168.101.1/24
        - fe80::1/64
  # each listed route will be written into /etc/sysconfig/network/routes and applied
  # "default4" and "default6" will be written as "default"
  routes:
    default4:
      gateway: 192.168.120.1
    default6:
      gateway: fe80::1
      interface: eth0
    10.0.10.1/32:
      gateway: 192.168.120.2
      options:
        - blackhole
