#
# spec file for package infrastructure-formulas
#
# Copyright (c) 2023 SUSE LLC
#
# All modifications and additions to the file contributed by third parties
# remain the property of their copyright owners, unless otherwise agreed
# upon. The license for this file, and modifications and additions to the
# file, is the same license as for the pristine package itself (unless the
# license for the pristine package is not an Open Source License, in which
# case the license is the MIT License). An "Open Source License" is a
# license that conforms to the Open Source Definition (Version 1.9)
# published by the Open Source Initiative.

# Please submit bugfixes or comments via https://bugs.opensuse.org/
#


%define fdir %{_datadir}/salt-formulas
%define sdir %{fdir}/states
%define mdir %{fdir}/metadata
Name:           infrastructure-formulas
Version:        0.2
Release:        0
Summary:        Custom Salt states for the openSUSE/SUSE infrastructures
License:        GPL-3.0-or-later
Group:          System/Management
URL:            https://github.com/openSUSE/salt-formulas
Source:         _service
{%- for formula in formulas.keys() %}
Requires:       {{ formula }}-formula
{%- endfor %}
BuildArch:      noarch

%description
Custom Salt states used in the openSUSE and SUSE infrastructures.

%package common
Summary:        Files and directories shared by formulas

%description common
Files and directories shared by openSUSE/SUSE infrastructure formuas.

{%- for formula, config in formulas.items() %}

%package -n {{ formula }}-formula
Summary:        {{ config.summary }}
Requires:       %{name}-common
{%- if config.license is not none %}
License:        {{ config.license }}
{%- endif %}

%description -n {{ formula }}-formula
{{ config.description if config.description else config.summary ~ '.' }}
{%- endfor %}

%prep
mv %{_sourcedir}/salt-formulas-%{version}/* .

%build

%install
install -dm0755 %{buildroot}%{sdir} %{buildroot}%{mdir}

for formula in $(find -mindepth 1 -maxdepth 1 -type d -not -path './.git' -printf '%%P\n')
do
  echo "$formula"
  fname="${formula%%-*}"

  src_states="$formula/$fname"
  src_metadata="$formula/metadata"

  dst_states="%{sdir}/$fname"
  dst_metadata="%{mdir}/$fname"

  cp -rv "$src_states" "%{buildroot}$dst_states"
  echo "$dst_states" > "$fname.files"

  if [ -d "$src_metadata" ]
  then
    cp -rv "$src_metadata" "%{buildroot}$dst_metadata"
    echo "$dst_metadata" >> "$fname.files"
  fi

  for license in 'COPYING' 'LICENCE' 'LICENSE'
  do
    if [ -f "$formula/$license" ]
    then
      echo "%%license $formula/$license" >> "$fname.files"
      break
    fi
  done

done

%files

%files common
%license COPYING
%doc README.md
%dir %{fdir}
%dir %{sdir}
%dir %{mdir}
{% for formula in formulas.keys() %}
%files -n {{ formula }}-formula -f {{ formula }}.files
{% endfor %}
%changelog

