{%- set base = 'juniper_junos/ng/files/' -%}
{%- include base ~ 'baseline.j2' -%}
{%- include base ~ 'redundancy.j2' -%}
{%- include base ~ 'addresses.j2' -%}
{%- include base ~ 'nat.j2' -%}
{%- include base ~ 'policies.j2' -%}
{%- include base ~ 'zones.j2' -%}
{%- include base ~ 'snmp.j2' -%}
