zypper:
  clean:
    # whether to remove configuration not present in the zypper:config pillar (defaults to false)
    config: true
    # whether to remove repositories not present in the zypper:repositories pillar (defaults to false)
    repositories: true
  config:
    zypp_conf:
      main:
        solver.onlyRequires: 'true'
  packages:
    tmux: {}
    vim: {}
    fish:
      refresh: true
  repositories:
    repo-oss:
      baseurl: https://download.opensuse.org/distribution/leap/15.4/repo/oss
      priority: 99
      refresh: False
    repo-update-oss:
      baseurl: https://$mymirror/update/leap/15.4/oss
      priority: 99
      refresh: True
  variables:
    mymirror: example.com
