zypper:
  config:
    zypp_conf:
      main:
        solver.onlyRequires: 'true'
  packages:
    tmux
    vim
  repositories:
    repo-oss:
      baseurl: https://download.opensuse.org/distribution/leap/42.2/repo/oss
      priority: 99
      refresh: False
    repo-update-oss:
      baseurl: https://download.opensuse.org/update/leap/42.2/oss
      priority: 99
      refresh: True
