{%- set base = 'juniper_junos/files/' -%}
{%- include base ~ 'vlans.j2' -%}
{%- include base ~ 'interfaces.j2' -%}
{%- include base ~ 'routes.j2' -%}
{%- include base ~ 'ntp.j2' -%}
{%- include base ~ 'syslog.j2' -%}
